PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=inventario_retail_one
DB_CONNECTION_LIMIT=10

SESSION_SECRET=cambia_esta_clave_por_una_muy_larga
